#config
src/python/config.py

#python
*.pyc
*/__pycache__

# NPM
node_modules/
package-lock.json

# Misc
.DS_Store
*.swp
*.bak
.vscode/
.bash_profile
.bash_profileeval
*.pyc
src/python/__pycache__/
src/python/__pycache__/config.cpython-38.pyc
